

#image
{
    background-image: url('./Avatar.jpg');
    width: 225px;
    height: 225px;
    border-radius: 50%;
    background-size: 120%;
    background-position: center;
    background-position-y: -60px;
    z-index: 55;
}
